.spacer {
	aspect-ratio: 960/500;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.layer1 {
	background-image: url("src/assets/step1.svg");
}

.layer2 {
	background-image: url("src/assets/step2.svg");
}

.new {
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("src/assets/name.svg");
}

.new1 {
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("src/assets/name1.svg");
}
