body {
	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
	scrollbar-width: 0px;
}

body::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
	animation-play-state: paused !important;
}
